{% extends "base/main.html" %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin: 0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>
    <br>
    {% if request.user.is_authenticated %}
        {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="button" type="submit">Logout</button>
            </form>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <div>
        <a id="add-link" href="{% url 'task-create' %}"><i>&#x2b;</i></a>
        <a id="add-link-text" href="{% url 'task-create' %}"><i>Add Task</i></a>
    </div>
    <form method="GET" style="display:flex;">
        <input style="margin-right: 5px;" type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form>
</div>

    <br>

    <div class="task-items-wrapper">
        {% for task in tasks %}
            <div class="task-wrapper">
                {% if task.complete %}
                    <div class="task-title">
                        <div class="task-complete-icon"></div>
                        <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                    </div>

                {% else %}
                    <div class="task-title">
                        <div class="task-incomplete-icon"></div>
                        <a href="{% url 'task-update' task.id %}">{{task}}</a>
                    </div>
                {% endif %}
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            </div>

        {% empty %}
        <h3>No Items in List</h3>
        {% endfor %}
    </div>

{% endblock content %}